
.banner{
	background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png) center right;
	background-size: cover;
	background-repeat: no-repeat ;
	text-align: right;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.banner p{
	font-size: 36px;
	color:#650300;
	line-height: 52px;
	margin-right: 405px;
}

.banner h2{
	font-size: 64px;
	color:#650300;
	font-weight: bold;
	line-height: 92px;
	margin-right: 405px;
}
