
/*blogContaint*/

.blogContaint{
	display: flex;
}

.blogBlock{
	width: 825px;
	padding-right: 30px;
}

.blogPath{
	display: flex;
	margin-top: 8px;
	margin-bottom: 8px;
}
.blogPath a{
	font-size: 16px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
	font-weight: 600;
}

.currentPage a{
	color: #AA0601;
}

.articleTags{
	display: flex;

}
.articleTags li{
	margin-right: 16px;
}

.tags{
	color: #AA0601;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
}

.articleTitle{
	font-size: 48px;
	line-height: 70px;
	font-weight: 600;
}

.blogArticle img{
	margin-bottom: 24px;
}

.blogArticle p{
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 40px;
	color: rgba(0, 0, 0, 0.6);
}

.shareBlock{
	display: flex;
	margin-bottom: 21px;
}

.shareLinks{
	display: flex;
}

.shareTitle{
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin-right: 20px;
}

.shareLinks li{
	margin-right: 16px;
}

.pageControl{
	display: flex;
	justify-content: space-between;
	padding-top: 24px;
	border-top: 1px solid #000;
	margin-bottom: 160px;
}

.pageControl a{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #000;
	font-weight: 600;
}

.blogTags{
	margin-top: 78px;
	width: 285px;
}
.blogTagsTitle{
	display: flex;
	align-items: center;
	margin-bottom: 9px;
}

.blogTagsTitle img{
	margin-right: 12px;
}

.blogTagsTitle h3{
	font-size: 28px;
	line-height: 37px;
	color: #AA0601;
	font-weight: bold;
}

.tegsList{
	display: flex;
	flex-wrap: wrap;
}

.tegsList li{
	margin-right: 24px;
	margin-bottom: 8px;
}