.nav{
	background-color: #AA0601;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 88px;
}
.navList{
	display: flex;
	font-size: 20px;

}
.navList li{
	margin-left: 64px;
}
.navList a{
	color: #fff;
	text-decoration: none;
	white-space:nowrap;
}
.footer{
	padding-top: 32px;
	padding-bottom: 39px;
	background-color: #AA0601;
	color:#fff;
}

.footer a{
	color: #fff;
	text-decoration: none;
}
.btnNav{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #fff;
}

.linkList{
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
}

.linkList li{
	margin-right: 48px;
}

.media{
	display: flex;
}
.media li{
	margin-left: 32px;
}

.phoneIcon{
	width: 36px;
	height: 36px;
	margin-right: 20px;
}

.mailIcon{
	width: 40px;
	height: 32px;
	margin-right: 20px;
}
.numberList{
	margin-top: 36px;
}
.numberList a{
	font-size: 36px;
	line-height: 48px;

}

.numberList li{
	margin-bottom: 24px;
}

.webInfo{
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

.webInfo{
	font-size: 16px;
	line-height: 24px;
}

.webInfo ul{
	display: flex;
}

.webInfo ul li{
	margin-left: 48px;
	font-size: 14px;
	line-height: 20px;
}