
/*shops*/

.shops{
	margin-top: 96px;
	margin-bottom: 160px;
}
.shops h2{
	font-size: 48px;
	line-height: 70px;
	font-weight: bold;
	padding-left: 16px;
	border-left: 8px solid #9F1213;
}

.selectShop{
	display: flex;
	margin-top: 60px;
	margin-bottom: 32px;
	align-items: center;
}

.selectShop p{
	font-size: 24px;
	line-height: 32px;
	font-weight: 600;
	margin-right: 20px;
}
.selectShop select{
	width: 324px;
	height: 45px;
	padding: 8px 19px;
	border: #CED4DA 1px solid;
	color: #495057;
}

.shopsList{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 160px;
}
.shopCard{
	width: 350px;
	margin-bottom: 32px;
	margin-right: 10px;
	margin-left: 10px;
	border: #00000020 1px solid;
}

.shopCard img{
	width: 350px;
	height: 224px;
}

.shopCard h3{
	font-size: 24px;
	line-height: 36px;
	padding: 12px 0 ;
	padding-left: 12px;
	border-bottom: #00000020 1px solid;
}

.shopInfoList{
	padding: 16px;
}

.shopInfoList li{
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 8px;
}

.shopInfoList span{
	align-self: flex-start;
	margin-right: 10px;
}

.moreInfo{
	display: block;
	background-color: #000;
	padding: 20px 0;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 19px;
}

.shopInfo{
	display: flex;
	justify-content: space-between;
}

.googleMap{
	background: url(/assets/images/googlemap.png) center center;
}

.shopInfoCard , .googleMap{
	width: calc(50% - 15px);
}
.shopInfoCard{
	border: #00000020 1px solid;
}
.shopInfoContaint h3{
	font-size: 24px;
	line-height: 36px;
	margin-top: 12px;
	margin-left: 24px;
	margin-bottom: 12px;
	font-weight: 600;
	
}
.shopInfoContaint ul{
	padding: 16px 24px;
	border-top:#00000020 1px solid ;
}

.shopInfoContaint ul li{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-size: 20px;
	line-height: 30px;
}
.shopInfoContaint ul li span{
	margin-right: 10px;
}