
.sunglasses-imaging-01{
	background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png) center center;
	background-size: cover;
}
.sunglasses-imaging-02{
	background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png) center center;
	background-size: cover;
}

.productSort{
	font-size: 42px;
	line-height: 63px;
	text-align: center;
	margin-top: 80px;
}

.material{
	font-size: 32px;
	line-height: 48px;
	text-align: center;
}

.itemList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
}
.itemcard{
	margin-bottom: 104px;
}
.opticalList .itemcard{
	width: 255px;

}

.sungalssesList .itemcard{
	width: 350px;
}

.opticalList .itemcard img{
	height: 148px;
	width: 255px;
}

.sungalssesList .itemcard img{
	width: 350px;
	height: 224px;
}

.itemProperty{
	font-size: 24px;
	line-height: 36px;
	display: flex;
	justify-content: space-between;
}

.itemNumber{
	text-transform:uppercase
}

.itemprice{
	color:#AA0601;
}
.itemColor{
	display: flex;
}

.itemColor li{
	margin-right: 8px;
}
.colorBox1, .colorBox2{
	width: 24px;
	height: 24px;
	border-radius: 3px;
}

.colorBox1{
	background-color: #5F3E2D;
}
.colorBox2{
	background-color: #B75929;
}

.pageList{
	display: flex;
	justify-content: center;
	margin-bottom: 171px;
}

.pageList li{
	border:#555555 1px solid;

}


.pageList a{
	display: block;
	padding: 12px 16px;
	text-decoration: none;
	color: #555555;
}

.pageList a:hover{
	background-color: #F2F2F2;
}
.sungalssesList{
	margin-bottom: 56px;
}
