html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover; }

body {
  font-family: Arial, Microsoft JhengHei; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.nav {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 88px; }

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px; }

.navList li {
  margin-left: 64px; }

.navList a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap; }

.footer {
  padding-top: 32px;
  padding-bottom: 39px;
  background-color: #AA0601;
  color: #fff; }

.footer a {
  color: #fff;
  text-decoration: none; }

.btnNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff; }

.linkList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px; }

.linkList li {
  margin-right: 48px; }

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.media li {
  margin-left: 32px; }

.phoneIcon {
  width: 36px;
  height: 36px;
  margin-right: 20px; }

.mailIcon {
  width: 40px;
  height: 32px;
  margin-right: 20px; }

.numberList {
  margin-top: 36px; }

.numberList a {
  font-size: 36px;
  line-height: 48px; }

.numberList li {
  margin-bottom: 24px; }

.webInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px; }

.webInfo {
  font-size: 16px;
  line-height: 24px; }

.webInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.webInfo ul li {
  margin-left: 48px;
  font-size: 14px;
  line-height: 20px; }

.service, .classicProduct, .co-branding, .clientFeedback, .contact {
  padding-top: 60px;
  padding-bottom: 80px; }

.service {
  background-color: #AA06010D; }

.serviceList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px; }

.serviceList li {
  width: 255px;
  margin-right: 15px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.imgBox {
  width: 100%;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.serviceList img {
  width: 83px;
  height: auto; }

.serviceList h3 {
  font-size: 24px;
  color: #650300;
  font-weight: bold;
  margin-top: 24px;
  line-height: 35px; }

.serviceList p {
  font-size: 16px;
  line-height: 24px; }

.classicProductList {
  margin-top: 40px; }

.classicProductList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.classicProductList li span {
  font-size: 44px;
  color: #AA0601;
  margin-right: 10px;
  margin-left: 10px; }

.classicProductList li h3 {
  color: #AA0601;
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase; }

.productType {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 32px;
  margin-left: 32px; }

.productType-in-img {
  display: none; }

.classicProduct img {
  width: 675px; }

.productImg {
  width: 635px;
  height: 320px;
  background-size: cover; }

.productImg-1 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png) center center; }

.productImg-2 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png) center center; }

.productImg-3 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-3.png) center center; }

.f-rowreverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.co-branding {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/bg.png) center center; }

.co-brandingList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.co-brandingItem-1 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png) center center;
  background-size: cover; }

.co-brandingItem-2 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png) center center;
  background-size: cover; }

.co-brandingItem {
  width: 540px;
  height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2; }

.co-brandingItem:before {
  content: '';
  position: absolute;
  max-width: 540px;
  height: 455px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 3; }

.co-brandingItem h3 {
  font-size: 72px;
  font-weight: bold;
  color: #AA0601;
  z-index: 4; }

.co-branding h2 {
  color: #fff; }

.feedbackList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.feedbackList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 460px; }

.clientPhoto-1 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/rec-1.png) center center; }

.clientPhoto-2 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/rec-2.png) center center; }

.clientPhoto-3 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/rec-3.png) center center; }

.clientPhoto-4 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/rec-4.png) center center; }

.clientPhoto {
  height: 256px;
  background-size: cover;
  border-radius: 4px 4px 0 0; }

.feedbackContaint {
  padding: 16px;
  border-radius: 0 0 4px 4px;
  border: #DEE2E6 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 204px; }

.containtBox h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px; }

.containtBox p {
  font-size: 16px;
  line-height: 24px; }

.date {
  color: #707070;
  font-size: 14px; }

.contact {
  background-color: #AA06010D; }

.contactContainer {
  max-width: 730px;
  margin: 0 auto; }

.contact p {
  margin-top: 24px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; }

.form-df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

form label {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 600; }

.form-df input {
  height: 50px;
  margin-bottom: 16px;
  background-color: #AA06010D;
  border: 1px #000 solid;
  padding-left: 16px; }

.form-df textarea {
  padding: 12px 16px;
  background-color: #AA06010D;
  border: 1px #000 solid;
  margin-bottom: 16px; }

.submit {
  padding: 16px 0;
  width: 350px;
  background-color: #AA0601;
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none; }

.banner {
  background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png) center right;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.banner p {
  font-size: 36px;
  color: #650300;
  line-height: 52px;
  margin-right: 405px; }

.banner h2 {
  font-size: 64px;
  color: #650300;
  font-weight: bold;
  line-height: 92px;
  margin-right: 405px; }

.subNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.subNav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 32px;
  line-height: 43px;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: #DCDCDC 1px solid;
  border-right: #DCDCDC 1px solid; }

.subNav span {
  font-size: 32px;
  margin-right: 10px; }

.action {
  border-bottom: 8px solid #AA0601; }

.productImaging {
  height: 304px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.productImaging li {
  width: 50%; }

.optical-imaging-01 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-1.png) center center;
  background-size: cover; }

.optical-imaging-02 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week4/banner-2.png) center center;
  background-size: cover; }

.subtitle {
  font-size: 48px;
  font-weight: bold;
  color: #650300;
  text-align: center; }

.sunglasses-imaging-01 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner-3.png) center center;
  background-size: cover; }

.sunglasses-imaging-02 {
  background: url(https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png) center center;
  background-size: cover; }

.productSort {
  font-size: 42px;
  line-height: 63px;
  text-align: center;
  margin-top: 80px; }

.material {
  font-size: 32px;
  line-height: 48px;
  text-align: center; }

.itemList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.itemcard {
  margin-bottom: 104px; }

.opticalList .itemcard {
  width: 255px; }

.sungalssesList .itemcard {
  width: 350px; }

.opticalList .itemcard img {
  height: 148px;
  width: 255px; }

.sungalssesList .itemcard img {
  width: 350px;
  height: 224px; }

.itemProperty {
  font-size: 24px;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.itemNumber {
  text-transform: uppercase; }

.itemprice {
  color: #AA0601; }

.itemColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.itemColor li {
  margin-right: 8px; }

.colorBox1, .colorBox2 {
  width: 24px;
  height: 24px;
  border-radius: 3px; }

.colorBox1 {
  background-color: #5F3E2D; }

.colorBox2 {
  background-color: #B75929; }

.pageList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 171px; }

.pageList li {
  border: #555555 1px solid; }

.pageList a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #555555; }

.pageList a:hover {
  background-color: #F2F2F2; }

.sungalssesList {
  margin-bottom: 56px; }

/*shops*/
.shops {
  margin-top: 96px;
  margin-bottom: 160px; }

.shops h2 {
  font-size: 48px;
  line-height: 70px;
  font-weight: bold;
  padding-left: 16px;
  border-left: 8px solid #9F1213; }

.selectShop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.selectShop p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-right: 20px; }

.selectShop select {
  width: 324px;
  height: 45px;
  padding: 8px 19px;
  border: #CED4DA 1px solid;
  color: #495057; }

.shopsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 160px; }

.shopCard {
  width: 350px;
  margin-bottom: 32px;
  margin-right: 10px;
  margin-left: 10px;
  border: #00000020 1px solid; }

.shopCard img {
  width: 350px;
  height: 224px; }

.shopCard h3 {
  font-size: 24px;
  line-height: 36px;
  padding: 12px 0;
  padding-left: 12px;
  border-bottom: #00000020 1px solid; }

.shopInfoList {
  padding: 16px; }

.shopInfoList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px; }

.shopInfoList span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 10px; }

.moreInfo {
  display: block;
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 19px; }

.shopInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.googleMap {
  background: url(/assets/images/googlemap.png) center center; }

.shopInfoCard, .googleMap {
  width: calc(50% - 15px); }

.shopInfoCard {
  border: #00000020 1px solid; }

.shopInfoContaint h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 12px;
  margin-left: 24px;
  margin-bottom: 12px;
  font-weight: 600; }

.shopInfoContaint ul {
  padding: 16px 24px;
  border-top: #00000020 1px solid; }

.shopInfoContaint ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px; }

.shopInfoContaint ul li span {
  margin-right: 10px; }

.faq h3 {
  font-size: 32px;
  line-height: 45px;
  margin-top: 60px;
  margin-bottom: 36px;
  font-weight: bold; }

.faqList h4 {
  font-weight: 600; }

.faqList h4 {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px; }

.faqList li {
  font-size: 16px;
  line-height: 24px; }

.faqList li ul {
  margin-left: 95px;
  margin-bottom: 32px; }

/*blog*/
.blogNav {
  background-color: #650300; }

.blogNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.blogNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0; }

.blogNav ul li {
  margin-right: 48px; }

.blogNavBar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  line-height: 28px; }

.blog {
  margin-top: 60px; }

.blog li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }

.blogTitle {
  font-size: 32px;
  line-height: 46px;
  color: #650300;
  font-weight: 600;
  margin-bottom: 2px; }

.blogConatint {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.readMore {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 36px;
  line-height: 48px;
  color: #650300;
  font-weight: bold;
  text-decoration: none; }

.blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }

.blogOverview {
  font-size: 20px;
  line-height: 26px; }

.blogDate {
  font-size: 16px;
  line-height: 21px; }

.blogConatint p {
  color: #555555;
  font-size: 20px;
  line-height: 30px; }

/*blogContaint*/
.blogContaint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blogBlock {
  width: 825px;
  padding-right: 30px; }

.blogPath {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px; }

.blogPath a {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  font-weight: 600; }

.currentPage a {
  color: #AA0601; }

.articleTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.articleTags li {
  margin-right: 16px; }

.tags {
  color: #AA0601;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px; }

.articleTitle {
  font-size: 48px;
  line-height: 70px;
  font-weight: 600; }

.blogArticle img {
  margin-bottom: 24px; }

.blogArticle p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.6); }

.shareBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px; }

.shareLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.shareTitle {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-right: 20px; }

.shareLinks li {
  margin-right: 16px; }

.pageControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  border-top: 1px solid #000;
  margin-bottom: 160px; }

.pageControl a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  font-weight: 600; }

.blogTags {
  margin-top: 78px;
  width: 285px; }

.blogTagsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px; }

.blogTagsTitle img {
  margin-right: 12px; }

.blogTagsTitle h3 {
  font-size: 28px;
  line-height: 37px;
  color: #AA0601;
  font-weight: bold; }

.tegsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.tegsList li {
  margin-right: 24px;
  margin-bottom: 8px; }

/*rwd*/
@media (max-width: 1110px) {
  .container {
    padding: 0 39px; }
  .blogConatintBox p {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    white-space: normal; }
  .blogConatint {
    width: calc(50% - 15px); }
  .blog img {
    width: calc(50% - 15px); }
  .banner h2 {
    margin-right: 200px; }
  .banner p {
    margin-right: 200px; }
  .co-brandingList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .co-brandingItem {
    width: 330px;
    height: 273px; }
  .co-brandingItem:before {
    max-width: 330px;
    height: 273px; }
  .co-brandingItem h3 {
    font-size: 32px; }
  .co-brandingItem-1 {
    margin-right: 15px; }
  .co-brandingItem-2 {
    margin-left: 15px; } }

@media (max-width: 992px) {
  .sungalssesList {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .subNav li {
    font-size: 26px;
    line-height: 32px; }
  .banner h2 {
    margin-right: 100px; }
  .banner p {
    margin-right: 100px; } }

@media (max-width: 768px) {
  .nav {
    padding: 30px 39px; }
  .navList li {
    margin-left: 40px; }
  .banner {
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png) center center; }
  .banner h2 {
    font-size: 48px;
    line-height: 70px;
    margin-right: 38px; }
  .banner p {
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    margin-right: 43px; }
  .subtitle {
    font-size: 32px;
    line-height: 46px; }
  .serviceList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .serviceList li {
    margin-bottom: 32px; }
  .f-rowreverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classicProductList li h3 {
    font-size: 28px;
    line-height: 37px; }
  .productImg {
    width: 390px;
    height: 168px; }
  .productType {
    margin: 0; }
  .feedbackList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .feedbackList li {
    width: calc(50% - 15px);
    margin-bottom: 32px; }
  .contactContainer {
    max-width: 450px; }
  .submit {
    padding: 10px 0;
    width: 210px; }
  .media img {
    width: 24px;
    height: 24px; }
  .media li {
    margin-left: 24px; }
  .linkList a {
    font-size: 16px;
    line-height: 24px; }
  .phoneIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px; }
  .mailIcon {
    width: 20px;
    height: 16px;
    margin-right: 8px; }
  .numberList {
    margin-top: 18px; }
  .numberList a {
    font-size: 20px;
    line-height: 26px; }
  .numberList li {
    margin-bottom: 12px; }
  .webInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px; }
  .webInfo {
    font-size: 16px;
    line-height: 21px; }
  .webInfo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .webInfo ul li {
    margin-left: 24px;
    font-size: 14px;
    line-height: 20px; }
  .subNav li {
    font-size: 24px;
    line-height: 32px; }
  .productSort {
    font-size: 32px;
    line-height: 34px; }
  .material {
    font-size: 24px;
    line-height: 35px; }
  .opticalList .itemcard {
    width: calc(50% - 15px); }
  .opticalList .itemcard img {
    width: 100%;
    height: 164px; }
  .sungalssesList .itemcard {
    width: calc(50% - 15px); }
  .sungalssesList {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .selectShop select {
    width: 237px; }
  .shopsList {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .shopCard {
    width: calc(50% - 15px);
    margin-bottom: 32px;
    margin-right: 0;
    margin-left: 0;
    border: #00000020 1px solid; }
  .shopCard img {
    width: 100%; }
  .shopInfoCard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .shopInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .shopInfoCard {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: none; }
  .shopInfoCard img, .shopInfoCard .shopInfoContaint {
    width: calc(50% - 15px); }
  .shopInfoContaint h3 {
    font-size: 16px;
    line-height: 24px; }
  .shopInfoContaint ul li {
    font-size: 14px;
    line-height: 21px; }
  .shopInfoContaint {
    border: #00000021 1px solid; }
  .googleMap {
    height: 422px;
    width: 100%;
    margin-top: 32px; }
  .blogTitle {
    font-size: 20px;
    line-height: 29px; }
  .blogOverview {
    font-size: 16px;
    line-height: 21px; }
  .blogDate {
    font-size: 14px;
    line-height: 19px; }
  .blogConatint p {
    font-size: 14px;
    line-height: 21px;
    position: relative; }
  .readMore {
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    text-transform: lowercase; }
  .blogNavBar a {
    font-size: 16px;
    line-height: 22px; }
  .blogPath a {
    font-size: 14px;
    line-height: 20px; }
  .tags {
    font-size: 16px;
    line-height: 21px; }
  .articleTitle {
    font-size: 32px;
    line-height: 46px; }
  .blogArticle p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px; }
  .shareTitle {
    font-size: 16px;
    line-height: 21px; }
  .pageControl span {
    font-size: 16px;
    line-height: 24px; }
  .blogTagsTitle h3 {
    font-size: 20px;
    line-height: 26px; }
  .blogTagsTitle img {
    width: 24px;
    height: 24px; } }

@media (max-width: 735px) {
  .linkList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .linkList li {
    margin-bottom: 12px; }
  .nav {
    padding: 15px 20px; }
  .productType {
    display: none; }
  .productType-in-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  .classicProductList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .container {
    padding: 0 15px; }
  .productImg {
    width: calc(100vw - 30px); }
  .subNav li {
    font-size: 14px;
    line-height: 19px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px; }
  .subNav span {
    font-size: 16px; } }

@media (max-width: 576px) {
  .navList li {
    margin-left: 24px; }
  .co-brandingList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px; }
  .co-brandingItem-1 {
    margin-right: 0;
    margin-bottom: 16px; }
  .co-brandingItem-2 {
    margin-left: 0; }
  .feedbackList {
    margin-top: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .feedbackList li {
    width: calc(100% - 15px);
    margin-bottom: 16px; }
  .contactContainer {
    max-width: calc(100% - 30px); }
  .contactContainer p {
    font-size: 16px;
    line-height: 24px; }
  form label {
    line-height: 20px;
    font-size: 14px; }
  .shopCard {
    width: 100%; }
  .blogNav ul li {
    margin-right: 24px; } }

@media (max-width: 500px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
  .navList {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw; }
  .navList li {
    width: 50%;
    margin-left: 0;
    text-align: center;
    border: #fff 1px solid;
    padding: 8px 0; }
  .logo {
    width: 48px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .banner h2 {
    font-size: 32px;
    line-height: 45px;
    margin-right: 15px; }
  .banner p {
    font-size: 16px;
    line-height: 22px;
    margin-right: 15px; }
  .banner {
    background: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-sm.png) center left; }
  .service, .classicProduct, .co-branding, .clientFeedback, .contact {
    padding-top: 32px;
    padding-bottom: 72px; }
  .subtitle {
    font-size: 24px;
    line-height: 35px; }
  .serviceList {
    margin-top: 24px; }
  .serviceList h3 {
    margin-top: 12px; }
  .co-brandingItem {
    max-width: 345px;
    height: 273px; }
  .opticalList .itemcard {
    width: 100%; }
  .sungalssesList .itemcard {
    width: 100%; }
  .shops h2 {
    font-size: 28px;
    line-height: 40px; }
  .selectShop p {
    font-size: 14px;
    line-height: 20px; }
  .selectShop select {
    height: 36px; }
  .shopCard h3 {
    font-size: 16px;
    line-height: 24px; }
  .shopInfoList li {
    font-size: 14px;
    line-height: 21px; }
  .moreInfo {
    font-size: 14px;
    line-height: 20px; }
  .shopsList {
    margin-bottom: 56px; }
  .shops {
    margin-top: 28px;
    margin-bottom: 0; }
  .selectShop {
    margin-top: 24px;
    margin-bottom: 20px; }
  .shopInfoCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .shopInfoCard img, .shopInfoCard .shopInfoContaint {
    width: 100%; }
  .googleMap {
    margin-top: 16px;
    margin-bottom: 56px; }
  .blog li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog img {
    width: 100%; }
  .blogConatint {
    width: 100%; }
  .blogConatint {
    padding-left: 0; }
  .blogConatint p {
    display: none; }
  .readMore {
    display: none; }
  .blog {
    margin-top: 28px; }
  .blog li {
    margin-bottom: 20px; }
  .blogTitle {
    margin-top: 8px; }
  .blogNavBar {
    display: none; }
  .inBlogContaint .blogNavBar {
    display: block; }
  .inBlogContaint .blogNavBar .searchIcon {
    display: none; }
  .inBlogContaint .blogNavBar ul {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .blogNav ul li {
    margin-right: 0; }
  .blogContaint {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blogBlock {
    width: calc(100vw - 30px);
    padding-right: 0; }
  .blogArticle img {
    width: calc(100vw - 30px); }
  .pageControl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0; }
  .pageControl .pageControlNext {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 8px; }
  .blogTags {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 56px; } }

@media (max-width: 400px) {
  .linkList {
    display: none; }
  .numberList {
    margin-top: 0; }
  .footer {
    margin-top: 0;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px; }
  .webInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .webInfo p {
    margin-bottom: 8px; }
  .webInfo ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .webInfo ul li {
    margin-left: 0;
    margin-bottom: 8px; }
  .phoneIcon a {
    font-size: 16px;
    line-height: 21px; }
  .numberList a {
    font-size: 16px;
    line-height: 21px; }
  .numberList img, .phoneIcon img {
    width: 16px;
    height: 16px; }
  .webInfo p, .webInfo a {
    font-size: 14px;
    line-height: 19px; }
  .subNav span {
    margin-right: 0; }
  .action {
    border-bottom: 4px solid #AA0601; }
  .subNav span {
    display: none; }
  .itemProperty {
    font-size: 16px; }
  .productImaging {
    height: 148px; }
  .productSort {
    margin-top: 32px;
    font-size: 20px;
    line-height: 26px; }
  .material {
    font-size: 16px;
    line-height: 24px; }
  .itemList {
    margin-top: 20px; }
  .itemcard {
    margin-bottom: 32px; }
  .pageList {
    margin-bottom: 56px; }
  .colorBox1, .colorBox2 {
    width: 16px;
    height: 16px;
    border-radius: 3px; }
  .googleMap {
    height: 211px; }
  .shops h2 {
    border-left: 4px solid #9F1213; }
  .blogTitle {
    font-size: 16px;
    line-height: 24px; }
  .blogOverview, .blogDate {
    font-size: 14px;
    line-height: 19px; } }

@media (max-width: 375px) {
  .co-brandingItem {
    max-width: 100%;
    height: 273px; }
  .pageList a {
    padding: 10px 10px; }
  .selectShop p {
    margin-right: 12px;
    white-space: nowrap; }
  .tags {
    font-size: 14px;
    line-height: 19px; }
  .articleTitle {
    font-size: 20px;
    line-height: 29px; }
  .blogInfo {
    margin-bottom: 20px; }
  .blogArticle img {
    margin-bottom: 16px; }
  .blogNavBar a {
    font-size: 12px;
    line-height: 19px; } }

/*# sourceMappingURL=all.css.map */
